page-login {
    .Ycenter {
        margin-top: 47vh; /* poussé de la moitié de hauteur de viewport */
        //transform: translateX(25%); /* tiré de la moitié de sa propre hauteur */
      }  

    .messageBox {
        font-weight: bold;
        // color: #f27c36;
        font-size: 1.2em;
        text-align: center;
    }

    .errorColor {
        color: red;
    }

    .warningColor {
        color: #f27c36;
    }

    .successColor {
        color: green;
    }

    .infosColor {
        color: rgb(110, 108, 104);
    }




    .background {
        width: 100%;
        height: 100%;
        //background: linear-gradient(10deg, #f27c36, #f5cfb9);
        //background-color: rgba(242, 124, 54, 0.9px);
        
        // background-color: rgba(0, 0, 0, 0.9px);
        // background-image: url('../assets/img/back_img_1.jpg');
        background-image: url('../assets/img/office62.jpg');
    }

    .scroll-content {
        text-align: center;

        align-content: center;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
    }

    ion-card.card {
        background: rgba(255, 255, 255, 1);
        //  background: rgba(232, 230, 230, 0.6px);
       // background: rgba(0, 0, 0, 0.6px);
        border-radius: 10px;

        box-shadow: none;
    }

    a,p,b,
    ion-card-header.card-header {
        color: #f27c36;
    }

    .item {
        //background: rgba(232, 230, 230, 0px);
        margin-bottom: 10px;
        // background: rgba(255, 255, 255, 0.5);
        background: rgba(242, 124, 54, 0.1);
        border: medium none;

        .text-input {
            color:#f27c36;
        }

        input::-moz-placeholder {
            color: #f27c36 !important;
        }
        input:-moz-placeholder {
            color: #f27c36 !important;
        }
        *::-webkit-input-placeholder {
            color: #f27c36 !important;
        }
        *:-ms-input-placeholder {
            color: #f27c36 !important;
        }
        *:-moz-placeholder {
            color: #f27c36 !important;
        }
    }

    .list > .item-block .item-inner{
        border: medium none;
    }
    .list > .item-block {
        border: medium none;
    }
    // ion-input {
    //     border-bottom: #f27c36 solid 1px;
    // }
    .icon {
        padding-right: 10px;
    }

    h1 {
        color: #f27c36;
        font-size: 3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
    }

    .bottom {
        position: absolute;
        bottom: 0;
    }
}
