<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title> Liste des offres de mission</ion-title> -->

    <ion-buttons end>
      <button ion-button icon-only (click)="openLogOrProfilPage()">
        <!-- <button ion-button icon-only (click)="openRegisterWebpage()"> -->
        <ion-icon name="contact" [ngClass]="whatClassIsIt()"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-segment [(ngModel)]="filter">
    <ion-segment-button value="all">Tous</ion-segment-button>
    <ion-segment-button value="done">Mes candidatures</ion-segment-button>
    <ion-segment-button value="not done">Mes favoris</ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>
  <p class="YcenterMessageBox messageBox" *ngIf="isThereNoData">
    {{ message }}
  </p>

  <div [ngSwitch]="filter">
    <div *ngSwitchCase="'all'">
      <ion-card *ngFor="let item of businessMissions">
        <ion-card-header color="findeur" *ngIf="item.custom_27 | application: userName">
          Déjà postulé
        </ion-card-header>
        <ion-row>
          <ion-col col-4 offset-4>
            <!-- <img src="http://findeur2017.findeur.fr/images/{{item.Image}}t.jpg" style="max-width: 100%;
    height: auto;" /> -->
            <img src="{{ item.Image | pipelinkimg }}" style="max-width: 100%;
    height: auto;" />
          </ion-col>
        </ion-row>
        <ion-card-content>
          <ion-card-title>
            {{ item.Title }}
          </ion-card-title>
          <p>
            {{ item.Body }}
          </p>
        </ion-card-content>

        <ion-row no-padding>
          <ion-col col-4>
            <button ion-button clear small color="findeur" icon-start>
              <ion-icon name='star'></ion-icon>
              Favoris
            </button>
          </ion-col>
          <ion-col col-4>
            <!-- <ion-col text-center> -->
            <!-- <button ion-button clear small color="danger" icon-start (click)="coolSS(item)"> -->
            <button ion-button clear small color="findeur" icon-start (click)="handlerApplyToMissionButton(item)">
              <ion-icon name='arrow-dropright-circle'></ion-icon>
              Postuler
            </button>
          </ion-col>
          <ion-col col-4>
            <!-- <ion-col text-right> -->
            <button ion-button clear small color="findeur" icon-start>
              <ion-icon name='share-alt'></ion-icon>
              Partager
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

  </div>
</ion-content>