page-list {
    .background {
        background-image: url('../assets/img/office62.jpg');
    }

    div.scroll-content {
        background-color: unset !important;
        // background-image: url('../assets/img/office62.jpg');
    }
    ion-card-header.card-header {
        padding: 0;
        background-color: darkslategrey;
        margin-bottom: 3px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }
    ion-select.article {
        overflow: auto !important;
        max-width: 80% !important;
    }
    .item.item-select-list {
        font-size: 1.3rem;
        color: #e3b9b9;
    }
    .item {
      //background-color: rgba(48, 44, 44, 0.2);
      background-color: rgba(255, 255, 255, 0.8);
      margin-bottom: 3px;
  }
  ion-header {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

// .alertClass {
//   .alert-wrapper {
//     background-color: rgba(0,0,0, 0.6);
//   }
// }
// metiers-du-web,assistance-et-secretariat,fonction-commerciale,ressources-humaines,evenementiel-communication,services-generaux
// .card-background-page {
//       ion-card {
//         position: relative;
//         text-align: center;
//       }
//       .card-title {
//         position: absolute;
//         top: 36%;
//         font-size: 2.0em;
//         width: 100%;
//         font-weight: bold;
//         color: #fff;
//       }
//       .card-subtitle {
//         font-size: 1.0em;
//         position: absolute;
//         top: 52%;
//         width: 100%;
//         color: #fff;
//       }
//     }