<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only (click)="openLogOrProfilPage()">
        <ion-icon name="contact" [ngClass]="whatClassIsIt()"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-segment [(ngModel)]="filter" (ionChange)="getFilteredMissions()">
    <ion-segment-button value="all">Tous</ion-segment-button>
    <ion-segment-button value="done">Mes candidatures</ion-segment-button>
    <ion-segment-button value="favorites">Mes favoris</ion-segment-button>
  </ion-segment>

  <ion-list no-line>
    <ion-item class="item-select-list">
      <ion-label>
        <ion-icon name="people"></ion-icon>
        <ion-icon name="folder-open"></ion-icon>
      </ion-label>
      <ion-select [(ngModel)]="kills" multiple="true" placeholder="Filter par métiers" class="article" cancelText="Annuler" okText="Valider"
        (ionChange)="selectOptionItemSelected()" class="article">
        <ion-option value="{{skills.name}}" *ngFor="let skills of ionSelectSkills">
          {{skills.title}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content class="background">
  <ion-card *ngFor="let item of missions">
    <ion-card-header color="findeur" *ngIf="item.custom_27 | application: userName">
      Déjà postulé
    </ion-card-header>
    <ion-row (click)="goToMissionDetails(item);">
      <ion-col col-4 offset-4>
        <img src="{{ item.Image | pipelinkimg:item.nameImg }}" style="max-width: 100%;height: auto;" />
      </ion-col>
    </ion-row>
    <ion-card-content (click)="goToMissionDetails(item);">
      <ion-card-title>
        {{ item.Title }}
      </ion-card-title>
      <p>
        {{ item.Body }}
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col col-4>
        <button ion-button clear small color="findeur" icon-start id="favorites_{{ item.ID }}" (click)="handlerAddToMyFavoritesButton(item)">
          <ion-icon name='star'></ion-icon>
          Favoris
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button clear small color="findeur" icon-start id="apply_{{ item.ID }}" (click)="handlerApplyToMissionButton(item)"
          [disabled]="item.custom_27 | application: userName">
          <ion-icon name='arrow-dropright-circle'></ion-icon>
          Postuler
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button clear small color="findeur" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Partager
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMoreDatas($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher (ionRefresh)="refreshScreen($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

</ion-content>