<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Liste des offres de mission</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openLogOrProfilPage()">
        <ion-icon name="contact" [ngClass]="whatClassIsIt()"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<!--
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
-->
<ion-content class="card-background-page">

  <ion-card>
    <img src="./assets/img/card-saopaolo.jpg" />
    <div class="card-title">Findeur</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>

  <ion-card>
    <img src="./assets/img/card-amsterdam.jpg" />
    <div class="card-title">Engie</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>

  <ion-card>
    <img src="./assets/img/card-sf.jpg" />
    <div class="card-title">SNCF</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>

  <ion-card>
    <img src="./assets/img/card-madison.jpg" />
    <div class="card-title">RATP</div>
    <div class="card-subtitle">28 Listings</div>
  </ion-card>

</ion-content>