page-find-freelancers-by-availability {
    ion-header.header {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    ion-select.article {
        overflow: auto !important;
        max-width: 80% !important;
    }
    
    .item.item-select-list{
        font-size: 1.3rem;
        color: #e3b9b9;
      }
    
}
