page-home {

}
/*
ion-content {
    background-image: url('assets/img/background_img.jpg');
}
*/
.backgrd {
    background-image: url('../assets/img/back_img_1.jpg');
    // background-image: url('../assets/img/back_img_2.png');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    //opacity: 0.7;
    //background-size: contain;
    position: relative;
}
h1.AccTitleTop, h2.AccTitleBottom {
    font-weight: 700;
    //margin-bottom: 10px;
    margin: .67em 0;
    color: #ffffff;
    text-align: center;
    opacity: 0.7;
}

.Ycenter {
    margin-top: 80vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-60%); /* tiré de la moitié de sa propre hauteur */
  }

  .Xcenter {
    margin-left: 30vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateX(-50%); /* tiré de la moitié de sa propre hauteur */
  }

  .btnBackground {
      background-color: rgb(242, 124, 54);
  }
  .btnBackground2 {
    background-color: rgb(243, 147, 91);
}



.accButton {
    position: absolute;
    top: 50%;
    left: 30%;
}

.placeButton {
    top: 50%;
}
h2.AccTitleBottom {
    position: absolute;
    bottom: 0;
}

.AccTitle {
    position: relative;
    top: 0px;
    margin-top: -100px;
    font-size: 4vw;
    width: 100%;
    line-height: 30px;
}