page-compagny-modal-projects-list {
    *:not(ion-icon) {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .background {        
        background-color: rgba(0, 0, 0, 0.1);
        // background-color: rgba(242, 124, 54, 0);
    }

    ion-scroll {
        height: 35rem;
    }

    .scroll-content {
        text-align: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ion-card.card {
        border-radius: 5px;
        box-shadow: none;
        background-color: rgba(6, 6, 6, 0.71);
    }

    ion-card-content.card-content {
        padding: 0;
    }

    ion-list.list {
        margin: 2px !important;
    }
    a,
    p,
    ion-card-header.card-header {
        color: rgb(216, 185, 185);
        padding: 6px;
    }
    .item {
        margin-bottom: 1px;
        // margin-bottom: 10px;
        // background-color: rgba(242, 124, 54, 0.8);
        // border: medium none;
        // color: #fff;
        color: #a39b9b;
        font-size: 1.2rem;
    }
}