<!--
  Generated template for the FindFreelancersBySkillPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Trouver des freelances</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openLogOrProfilPage()">
        <!-- <ion-icon name="contact" color="{{ userColor }}"></ion-icon> -->
        <ion-icon name="contact" [ngClass]="whatClassIsIt()"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-list>
    <ion-item class="item-select-list">
      <ion-label>
        <ion-icon name="people"></ion-icon>
        <ion-icon name="folder-open"></ion-icon>
      </ion-label>
      <ion-select [(ngModel)]="kills" multiple="true" placeholder="Filter par métiers" class="article" cancelText="Annuler"
        okText="Valider" (ionChange)="killsSelected(kills)">
        <ion-option value="Depannage-Informatique">Dépannage Informatique</ion-option>
        <ion-option value="Securite-Gardiennage-Telesurveillance">Securite-Gardiennage-Telesurveillance</ion-option>
        <ion-option value="Entretien-parc-automobile">Entretien parc automobile</ion-option>
        <ion-option value="Travaux-batiment">Travaux bâtiment</ion-option>
        <ion-option value="Organsation-d-evenements">Organsation d'évènements</ion-option>
        <ion-option value="Professionnels-de-l-audivisuel">Professionnels de l'audivisuel</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-header>


<ion-content>

  <p class="YcenterMessageBox messageBox" *ngIf="isThereNoData">
    {{ message }}
  </p>

  <ion-list no-lines>
    <button ion-item *ngFor="let item of freelancesData" (click)="itemSelected(item)">
      <ion-thumbnail item-start>
        <img src="{{ item.Image | pipelinkimg }}">
      </ion-thumbnail>
      <h2>{{item.Title}}</h2>
      <p>{{item.Body}}</p>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreDatas($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
</ion-content>
<ion-footer>
  <button ion-button color="findeur" full outline (click)="goToNewArticlePage()">Nouvelle annonce</button>
</ion-footer>