<!--
  Generated template for the FindFreelancersByLocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Recherche par lieu</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openLogOrProfilPage()">
        <ion-icon name="contact" [ngClass]="whatClassIsIt('viewpageL')"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-list>
    <ion-item>
      <ion-label>Operating System</ion-label>
      <ion-select submitText="Okay" cancelText="Nah">
        <ion-option value="dos">DOS</ion-option>
        <ion-option value="lunix">Linux</ion-option>
        <ion-option value="mac7">Mac OS 7</ion-option>
        <ion-option value="mac8">Mac OS 8</ion-option>
        <ion-option value="win3.1">Windows 3.1</ion-option>
        <ion-option value="win95">Windows 95</ion-option>
        <ion-option value="win98">Windows 98</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>


<ion-content>

  <p class="YcenterMessageBox messageBox" *ngIf="isThereNoData">
    {{ message }}
  </p>
<!--   <ion-card *ngFor="let item of freelancesData">
    <img src="http://findeur2017.findeur.fr/images/{{item.Image}}t.jpg">
    <ion-card-content>
      <ion-card-title>
        {{item.Title}}
      </ion-card-title>
      <p>
        {{item.Excerpt}}
      </p>
    </ion-card-content>
  </ion-card>
 -->
  <ion-list no-lines>
    <button ion-item *ngFor="let item of freelancesData" (click)="itemSelected(item)">
      <ion-thumbnail item-start>
        <img src="{{ item.Image | pipelinkimg }}">
      </ion-thumbnail>
      <!-- <div class="card-title">Findeur</div> -->
      <!-- <div class="card-subtitle">41 Listings</div> -->
      <h2>{{item.Title}}</h2>
      <p>{{item.Excerpt}}</p>
    </button>
  </ion-list>

</ion-content>

<ion-footer>
  <button ion-button color="grey2" full outline>Nouvelle annonce</button>
</ion-footer>